body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100dvh; */
    padding: 2%;
}
.box{
    background-color: aqua;
}
.grid-container{
    display: grid;
    grid-template-columns: 300px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 1em;
    grid-template-areas: "box1 box1 box2 box3"
                        "box4 box5 box5 box3";
}
#box1{
    background-color: blueviolet;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 3);

}
#box1:hover{
    background-color: red;
    transition-duration: 1s;
    width: 500px;
    height: 300px;
    transition-delay: 3s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, width, height;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 3);

}
#box2{
    background-color: grey;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 3);

}
#box3{
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 3);

    
}
#box4{
    background-color: yellow;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 3);

}
#box5{
    background-color: rgb(21, 21, 21);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 3);

}
.top{
    /* border: 2px solid red; */
    position: relative;
}
.topbox2{
    /* border: 2px solid red; */
    position: relative;
}
.box2h1{
    position: absolute;
    left: 60px;
    top: -8px;
    /* border: 2px solid blue; */
    font-size: 16px;
    font-weight: bold;
}
.box2h2{
    position: absolute;
    left: 60px;
    top: 9.6px;
    /* border: 2px solid blue; */
    font-size: 10.4px;
    color: black;
}
.box1img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-top: 5px;


}
#box2img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-top: 5px;
}
.box1h1{
    position: absolute;
    left: 60px;
    top: -10px;
    /* border: 2px solid blue; */
    font-size: 20px;
    font-weight: bold;
}
.box1h2{
    position: absolute;
    left: 60px;
    top: 12px;
    /* border: 2px solid blue; */
    font-size: 13px;
    color: black;
}
.spann{
    color: white;
    position: absolute;
    top: 45px;
}
#span2{
    color: white;
    position: absolute;
    top:45px;
    left: 15px;
    font-size: 12.8px;
}
.pbox1{
    padding: 20px;
}
#pbox2{
    font-size: 16px;
}


@media(max-width: 42em){
    .grid-container{
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px 200px 200px;
        grid-template-areas: "box1 box2"
        "box1 box3" 
        "box4 box5"
        "box4 box5";
        }
    }